A:link { color: #8AA607 }
A:visited { color: #8AA607 }
A:active { color: #8AA607 }
A:hover { color: #8AA607 } 

#blankbg {background-image: url(https://web.archive.org/web/20160214043252im_/http://webandnet.com/images/spacer.gif); background-repeat: no-repeat}

td {font-family: arial, geneva, sans-serif; font-size: 10.8pt; color: #000000;}

.menu {font-family: arial, geneva, sans-serif; font-size: 9.8pt; color: #000000;}

.white1 {font-family: arial, geneva, sans-serif; font-size: 10.8pt; color: #ffffff;}
.white2 {font-family: arial, geneva, sans-serif; font-size: 11.8pt; color: #ffffff;}

.green2 {font-family: arial, geneva, sans-serif; font-size: 11.8pt; color: #8AA607;}

.grey1 {font-family: arial, geneva, sans-serif; font-size: 10.8pt; color: #544D52;}

.black3 {font-family: arial, geneva, sans-serif; font-size: 12.8pt; color: #000000;}
.black4 {font-family: arial, geneva, sans-serif; font-size: 13.8pt; color: #000000;}
.black6 {font-family: arial, geneva, sans-serif; font-size: 16.8pt; color: #000000;}
.black36 {font-family: arial, geneva, sans-serif; font-size: 36pt; color: #000000;}

/*
     FILE ARCHIVED ON 04:32:52 Feb 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:12:23 Nov 22, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.72
  exclusion.robots: 0.057
  exclusion.robots.policy: 0.041
  esindex: 0.013
  cdx.remote: 29.449
  LoadShardBlock: 787.731 (3)
  PetaboxLoader3.datanode: 161.355 (4)
  PetaboxLoader3.resolve: 125.58 (2)
  load_resource: 185.667
*/